<div class="row justify-content-center align-items-center vh-100" id="passwordReset">
            <!-- <button id="mainPageLink" class="btn btn-primary btn-lg btn-block">Main Page</button> -->
            <div class="box-reset bg-danger rounded p-4">
                <img src="static/img/logo.png" alt="Game Logo" class="logo img-fluid mb-2">
                <form action="api/password-reset/" method="post" class="form-login" id="passRes">
                    <input type="text" id="username" name="username" placeholder="Username" required minlength="5" maxlength="20" class="form-control form-control-lg mb-2">
                    <input type="email" name="email" id="emailres" placeholder="Email" class="form-control form-control-lg mb-2" required>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
                </form>
            </div>
        </div>
</div>