<div class="row justify-content-center align-items-center vh-100" id="login">
    <div class="box-login bg-danger rounded p-4">
        <img src="static/img/logo.png" alt="Game Logo" class="logo img-fluid mb-2">

        <form method="post" action="/login/" class="form-login" id="loginForm">
            <input type="text" id="username" name="username" placeholder="Username" required minlength="5" maxlength="20" class="form-control form-control-lg mb-2">
            <input type="password" id="password" name="password" placeholder="Password" required minlength="6" maxlength="20" class="form-control form-control-lg mb-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
            <a href="#passreset" id="forgot-password" class="d-block text-decoration-none mt-2">Forgot your Password?</a>
        </form>        
        <div class="login-footer">
            <a href="#signup" id="signupLink" class="text-decoration-none">
                <span class="footer-span text-dark">Don't have an Account?</span> Sign Up
            </a>
            <a href="#" class="btn btn-primary btn-lg btn-block link42">Login with 42</a>
        </div>
    </div>
</div>
