<div class="row justify-content-center align-items-center vh-100" id="newPassword">
    <div class="box-reset bg-danger rounded p-4">
        <img src="static/img/logo.png" alt="Game Logo" class="logo img-fluid mb-2">
        <form action="" method="post" class="form-login" id="newPassForm">
            <input type="hidden" name="token" id="token">
            <input type="password" name="new_password" id="new_password" placeholder="New Password" minlength="8" class="form-control form-control-lg mb-2" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" minlength="8" class="form-control form-control-lg mb-2" required>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
        </form>
        <div id="error-message" class="text-danger mt-2"></div>
    </div>
</div>
