{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <div class="container-fluid content" id="content">
        <div class="row justify-content-center align-items-center vh-100" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <script src="{% static 'js/routes.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/crsf.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/formHandler.js'%}"></script>
    <script src="{% static 'js/global.js'%}"></script>
    <script src="{% static 'js/game.js'%}"></script>
    <script src="{% static 'js/gameOne.js'%}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/edit_profile.js'%}"></script>
    <script src="{% static 'js/chat.js'%}"></script>
    <script src="{% static 'js/playWithF.js'%}"></script>
    <script src="{% static 'js/tournament.js'%}"></script>
    <script src="{% static 'js/logout.js'%}"></script>

</body>
</html>